<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>360全景</title>
    @import "../../include/header.inc";
</head>
<body>
<div class="header application_view">
    @import "../../../../model/widgets/navBar.html";
    <img src="/website/images/static/application/view/common/banner.png" alt=""/>
    <div class="container-fluid">
        <div class="container">
            <p class="f44">360全景</p>
        </div>
    </div>
</div>
<div class="container applicationIndex">
    <div class="product_intro space">
        <p class="f32">360全景</p>
        <p class="f18">3D展示，为客户带来身临其境般的体验。</p>
        <p class="f18">360全景为各类开发运营企业打造基于三维全景展示，弥补了基于二维的图片展示的不足，带来身临其境的全方位体验。可用于店铺的全貌展示。</p>
        <!--<ul class="row">-->
            <!--<li class="col-sm-3">-->
                <!--<img src="/website/images/static/application/view/show/36001.png" alt=""/>-->
            <!--</li>-->
            <!--<li class="col-sm-3">-->
                <!--<img src="/website/images/static/application/view/show/36002.png" alt=""/>-->
            <!--</li>-->
            <!--<li class="col-sm-3">-->
                <!--<img src="/website/images/static/application/view/show/36003.png" alt=""/>-->
            <!--</li>-->
            <!--<li class="col-sm-3">-->
                <!--<img src="/website/images/static/application/view/show/36004.png" alt=""/>-->
            <!--</li>-->
        <!--</ul>-->


<div class="industryRestaurant">
        <div class="column4">
            <div class="container">
                <div class="page-column-title" style="margin: 30px 0 20px;">案例展示</div>
            </div>
            <div class="container-fluid">
                <div class="content-item active">
                    <div class="detail detail01 col-sm-6 col-xs-6">
                        <div>
                            <p class="f28">七匹狼</p>
                            <p class="f20">七匹狼皮具直属七匹狼集团股份公司。具有高效的物流系统和强大的供应链系统。在国内一线城市及各省会城市都具有极高的市场竞争力及品牌美誉度。主要经营中高档商务时尚休闲系列皮具，是崇尚舒适、质感、自然、休闲的社会精英人士的不二之选。
                            </p>
                        </div>
                    </div>
                    <div class="panorama col-sm-6 col-xs-6" data-src="http://cdn.tiaohuo.com/upload/image/201712/244a9fb5-cdf8-41a8-9e50-930358e1bd50.jpg"></div>
                </div>
                <div class="content-item">
                    <div class="detail detail02 col-sm-6 col-xs-6">
                        <div>
                            <p class="f28">光明眼镜</p>
                            <p class="f20">光明眼镜作为合肥眼镜界比较知名的品牌，是一家集设计、生产、品牌营运为一体的潮流品牌运营公司，光明眼镜以通过眼镜丰富人们生活的理念,不断创新,以优质的服务、卓越的品质满足眼镜需求。
                            </p>
                        </div>
                    </div>
                    <div class="panorama col-sm-6 col-xs-6" data-src="http://cdn.tiaohuo.com/upload/image/201712/4c22db16-ec37-42f6-a168-b9e591b0ebc3.jpg"></div>
                </div>
                <div class="content-item">
                    <div class="panorama col-sm-6 col-xs-6" data-src="http://cdn.tiaohuo.com/upload/image/201712/f6d0270e-8498-4218-b523-ae967b1061d7.jpg"></div>
                    <div class="detail detail03 col-sm-6 col-xs-6">
                        <div>
                            <p class="f28">乔丹体育</p>
                            <p class="f20">从2000年到2016年，诞生于福建晋江的乔丹体育走过了奋发图强、稳步成长的16年。伴随着中国体育事业的辉煌跨越，今天的乔丹体育已跃然成为中国运动服饰行业的领先品牌。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="content-item">
                    <div class="panorama col-sm-6 col-xs-6" data-src="http://cdn.tiaohuo.com/upload/image/201712/cd8737c4-f763-4195-a4a9-383d725aea53.jpg"></div>
                    <div class="detail detail04 col-sm-6 col-xs-6">
                        <div>
                            <p class="f28">菲小姐的店</p>
                            <p class="f20">休闲零食全国领先品牌菲小姐的店是由创始人吴晓菲女士于2012年倾力打造的高端时尚量贩零食品牌，菲小姐的店一直秉持着“健康生活、乐趣每天”的理念，致力于做全国最大的B2C零食销售品牌。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container selectTap">
                <div class="select-item col-md-3 col-xs-3 active">
                    <div>
                        <img src="/website/images/static/solution/industry/common/partnerLogo001.png" class="original" />
                        <img src="/website/images/static/solution/industry/common/partnerLogo01.png" class="colour" />
                    </div>
                    <span class="arrowIcon arrow01"></span>
                    <!--<img class="arrowIcon" src="/website/images/static/arrow.png" alt="">-->
                </div>
                <div class="select-item col-md-3 col-xs-3">
                    <div>
                        <img src="/website/images/static/solution/industry/common/partnerLogo002.png" class="original" />
                        <img src="/website/images/static/solution/industry/common/partnerLogo02.png" class="colour" />
                    </div>
                    <span class="arrowIcon arrow02"></span>
                    <!--<img class="arrowIcon" src="/website/images/static/arrow.png" alt="">-->
                </div>
                <div class="select-item col-md-3 col-xs-3">
                    <div>
                        <img src="/website/images/static/solution/industry/common/partnerLogo003.png" class="original" />
                        <img src="/website/images/static/solution/industry/common/partnerLogo03.png" class="colour" />
                    </div>
                    <span class="arrowIcon arrow03"></span>
                    <!--<img class="arrowIcon" src="/website/images/static/arrow.png" alt="">-->
                </div>
                <div class="select-item col-md-3 col-xs-3">
                    <div>
                        <img src="/website/images/static/solution/industry/common/partnerLogo004.png" class="original" />
                        <img src="/website/images/static/solution/industry/common/partnerLogo04.png" class="colour" />
                    </div>
                    <span class="arrowIcon arrow04"></span>
                    <!--<img class="arrowIcon" src="/website/images/static/arrow.png" alt="">-->
                </div>
            </div>
        </div>
</div>





    </div>
    <div class="product_use contentList">
        <p class="f32">使用的人还在使用</p>
        <ol class="active">
            <li class="col-xs-6 col-md-4">
                <a href="/website/application/view/ecshop.html">
                    <p class="f18">微商城</p>
                    <p class="f14">提供全行业的移动电商解决方案。</p>
                    <div class="iconWrap"><img src="/website/images/static/application/index/show01.png" alt="" /></div>
                </a>
            </li>
            <li class="col-xs-6 col-md-4">
                <a href="/website/application/view/payCode.html">
                    <p class="f18">付款码</p>
                    <p class="f14">快速扫描收费</p>
                    <div class="iconWrap"><img src="/website/images/static/application/index/pay01.png" alt="" /></div>
                </a>
            </li>
        </ol>
    </div>
</div>

@import "../../../../model/widgets/bottomBar.html";
@import "../../include/footer.inc";
<script src="/website/js/panorama.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.column4 .select-item').hover(function () {
            $(this).addClass('active').siblings().removeClass('active');
            $(this).find('.colour').removeClass('collapse');
            $(this).find('.original').addClass('collapse');
            $(this).siblings('.select-item').find('.colour').addClass('collapse');
            $(this).siblings('.select-item').find('.original').removeClass('collapse');
            $('.column4 .content-item.active').removeClass('active');
            $('.column4 .content-item').eq($(this).index()).addClass('active');
            var panorama = $('.column4 .panorama').eq($(this).index())[0];
            if (!panorama.PSV) {
                setPanorama(panorama);
            }
        });
        setPanorama(document.getElementsByClassName('panorama')[0]);

        function setPanorama(item) {
            if (navigator.appName == "Microsoft Internet Explorer" && parseInt(navigator.appVersion.split(";")[1].replace(/[ ]/g, "").replace("MSIE", "")) < 10) {
                $(item).html('您的浏览器版本暂不支持全景，请升级到<a href="https://support.microsoft.com/zh-cn/products/internet-explorer" target="_blank">ie10及以上</a>或下载 <a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank">chrome</a>')
                return false;
            }
            if (!$(item).attr('data-src')) {
                $(item).css({
                    "background-image": 'url("/website/images/placeholder/noneimg.png")',
                    "background-size": "cover"
                });
            } else {
                item.PSV = new PhotoSphereViewer({
                    panorama: $(item).attr('data-src'), //图片
                    container: item,                    //容器
                    navbar: [
                        'autorotate',
                        'zoom',
                        'caption',
                        'fullscreen'
                    ],
                    usexmpdata: false,
                    loading_img: '/website/images/static/panorama/panoramaLoading.gif',
                    mousewheel: true,    //滚轮缩放
                    mousemove: true,      //拖动移动
                    gyroscope: true,      //陀螺仪
                    autoload: true, //自动加载
                    anim_speed:0.5+'rpm'
                })
            }
        }
    });

</script>
</body>
</html>