<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>线上线下通用代金券</title>
    @import "../../include/header.inc";
</head>
<body>
<div class="header application_view">
    @import "../../../../model/widgets/navBar.html";
    <img src="/website/images/static/application/view/common/banner.png" alt=""/>
    <div class="container-fluid">
        <div class="container">
            <p class="f44">线上线下通用代金券</p>
        </div>
    </div>
</div>
<div class="container applicationIndex">
    <div class="product_intro space">
        <p class="f32">线上线下通用代金券</p>
        <p class="f18">根据商家的产品来设计营销策略，发放线上线下同用代金券，即增加线上客单量，也可帮助线下门店达到促销效果。</p>
        <ul class="row">
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/marketing/cash_coupon01.png" alt=""/>
            </li>
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/marketing/cash_coupon02.png" alt=""/>
            </li>
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/marketing/cash_coupon03.png" alt=""/>
            </li>
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/marketing/cash_coupon04.png" alt=""/>
            </li>
        </ul>
    </div>
    <div class="product_use contentList">
        <p class="f32">使用的人还在使用</p>
        <ol class="active">
            <li class="col-xs-6 col-md-4">
                <a href="/website/application/view/store_staff.html">
                    <p class="f18">门店员工管理</p>
                    <p class="f14">门店系统帮助商户轻松管理众多门店</p>
                    <div class="iconWrap"><img src="/website/images/static/application/index/manage02.png" alt="" /></div>
                </a>
            </li>
            <li class="col-xs-6 col-md-4">
                <a href="/website/application/view/discount.html">
                    <p class="f18">限时折扣</p>
                    <p class="f14">商家促销既能提高店铺活跃度，又可促成客单量的提升，增加店铺收入。</p>
                    <div class="iconWrap"><img src="/website/images/static/application/index/marketing02.png" alt="" /></div>
                </a>
            </li>
        </ol>
    </div>
</div>

@import "../../../../model/widgets/bottomBar.html";
@import "../../include/footer.inc";
<script type="text/javascript">
    $(function () {

    });

</script>
</body>
</html>