<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>限时折扣</title>
    @import "../../include/header.inc";
</head>
<body>
<div class="header application_view">
    @import "../../../../model/widgets/navBar.html";
    <img src="/website/images/static/application/view/common/banner.png" alt=""/>
    <div class="container-fluid">
        <div class="container">
            <p class="f44">限时折扣</p>
        </div>
    </div>
</div>
<div class="container applicationIndex">
    <div class="product_intro space">
        <p class="f32">限时折扣</p>
        <p class="f18">商家可通过限时折扣营销工具搭建限时秒杀活动，既能提高店铺活跃度，又可促成客单量的提升，增加店铺收入。</p>
        <ul class="row">
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/marketing/discount01.png" alt=""/>
            </li>
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/marketing/discount02.png" alt=""/>
            </li>
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/marketing/discount03.png" alt=""/>
            </li>
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/marketing/discount04.png" alt=""/>
            </li>
        </ul>
    </div>
    <div class="product_use contentList">
        <p class="f32">使用的人还在使用</p>
        <ol class="active">
            <li class="col-xs-6 col-md-4">
                <a href="/website/application/view/cash_coupon.html">
                    <p class="f18">线上线下通用代金券</p>
                    <p class="f14">根据商家的产品来设计营销策略，发放线上线下同用代金券。</p>
                    <div class="iconWrap"><img src="/website/images/static/application/index/marketing01.png" alt="" /></div>
                </a>
            </li>
            <li class="col-xs-6 col-md-4">
                <a href="/website/application/view/collocation.html">
                    <p class="f18">买赠搭配</p>
                    <p class="f14">适用于季末清仓促销，迅速减少库存，快速回笼资金。</p>
                    <div class="iconWrap"><img src="/website/images/static/application/index/marketing03.png" alt="" /></div>
                </a>
            </li>
        </ol>
    </div>
</div>

@import "../../../../model/widgets/bottomBar.html";
@import "../../include/footer.inc";
<script type="text/javascript">
    $(function () {

    });

</script>
</body>
</html>