<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>微商城</title>
    @import "../../include/header.inc";
</head>
<body>
<div class="header application_view">
    @import "../../../../model/widgets/navBar.html";
    <img src="/website/images/static/application/view/common/banner.png" alt=""/>
    <div class="container-fluid">
        <div class="container">
            <p class="f44">微商城</p>
        </div>
    </div>
</div>
<div class="container applicationIndex">
    <div class="product_intro space">
        <p class="f32">微商城</p>
        <p class="f18">提供全行业的移动电商解决方案。</p>
        <p class="f18">支持在线开店、客户管理、营销推广和经营分析等功能，开启线上售卖渠道。</p>
        <ul class="row">
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/show/ecshop01.png" alt=""/>
            </li>
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/show/ecshop02.png" alt=""/>
            </li>
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/show/ecshop03.png" alt=""/>
            </li>
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/show/ecshop04.png" alt=""/>
            </li>
        </ul>
    </div>
    <div class="product_use contentList">
        <p class="f32">使用的人还在使用</p>
        <ol class="active">
            <li class="col-xs-6 col-md-4">
                <a href="/website/application/view/collocation.html">
                    <p class="f18">买赠搭配</p>
                    <p class="f14">适用于季末清仓促销，迅速减少库存，快速回笼资金。</p>
                    <div class="iconWrap"><img src="/website/images/static/application/index/marketing03.png" alt="" /></div>
                </a>
            </li>
            <li class="col-xs-6 col-md-4">
                <a href="/website/application/view/360.html">
                    <p class="f18">360全景</p>
                    <p class="f14">3D展示，为客户带来身临其境般的体验。</p>
                    <div class="iconWrap"><img src="/website/images/static/application/index/show02.png" alt="" /></div>
                </a>
            </li>
        </ol>
    </div>
</div>

@import "../../../../model/widgets/bottomBar.html";
@import "../../include/footer.inc";
<script type="text/javascript">
    $(function () {

    });

</script>
</body>
</html>