<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>广告微传播</title>
    @import "../../include/header.inc";
</head>
<body>
<div class="header application_view">
    @import "../../../../model/widgets/navBar.html";
    <img src="/website/images/static/application/view/common/banner.png" alt=""/>
    <div class="container-fluid">
        <div class="container">
            <p class="f44">广告微传播</p>
        </div>
    </div>
</div>
<div class="container applicationIndex">
    <div class="product_intro space">
        <p class="f32">广告微传播</p>
        <p class="f18">低成本高裂变的新广告传播方式。广告微传播，通过来一架APP的推广页面可以分享至微信、会员、朋友圈等渠道，通过社交软件对广告进行传播，广告展示方式：单品展示、视频展示、软文展示、图片展示。广告传播内容分为：品牌宣传、产品宣传、公众号宣传、活动宣传等。属于低成本的广告传播，但在来一架APP内的用户皆可根据自己的受众人群来选择广告分享，并获得广告费用。</p>
        <ul class="row">
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/distribution/spread01.png" alt=""/>
            </li>
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/distribution/spread02.png" alt=""/>
            </li>
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/distribution/spread03.png" alt=""/>
            </li>
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/distribution/spread04.png" alt=""/>
            </li>
        </ul>
    </div>
    <div class="product_use contentList">
        <p class="f32">使用的人还在使用</p>
        <ol class="active">
            <li class="col-xs-6 col-md-4">
                <a href="/website/application/view/distribution.html">
                    <p class="f18">门店员工管理</p>
                    <p class="f14">门店系统帮助商户轻松管理众多门店</p>
                    <div class="iconWrap"><img src="/website/images/static/application/index/manage02.png" alt="" /></div>
                </a>
            </li>
            <li class="col-xs-6 col-md-4">
                <a href="/website/application/view/analysis.html">
                    <p class="f18">时段客流分析</p>
                    <p class="f14">掌握上门消费的时间规律</p>
                    <div class="iconWrap"><img src="/website/images/static/application/index/data01.png" alt="" /></div>
                </a>
            </li>
        </ol>
    </div>
</div>

@import "../../../../model/widgets/bottomBar.html";
@import "../../include/footer.inc";
<script type="text/javascript">
    $(function () {

    });

</script>
</body>
</html>