<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>销售排行系统</title>
    @import "../../include/header.inc";
</head>
<body>
<div class="header application_view">
    @import "../../../../model/widgets/navBar.html";
    <img src="/website/images/static/application/view/common/banner.png" alt=""/>
    <div class="container-fluid">
        <div class="container">
            <p class="f44">销售排行系统</p>
        </div>
    </div>
</div>
<div class="container applicationIndex">
    <div class="product_intro space">
        <p class="f32">销售排行系统</p>
        <p class="f18">数据列表按照销售量排列，商品的售出情况一目了然，根据数据列表调整商品的库存，轻松打造爆款商品。</p>
        <ul class="row">
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/data/system01.png" alt=""/>
            </li>
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/data/system02.png" alt=""/>
            </li>
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/data/system03.png" alt=""/>
            </li>
            <li class="col-sm-3">
                <img src="/website/images/static/application/view/data/system04.png" alt=""/>
            </li>
        </ul>
    </div>
    <div class="product_use contentList">
        <p class="f32">使用的人还在使用</p>
        <ol class="active">
            <li class="col-xs-6 col-md-4">
                <a href="/website/application/view/count.html">
                    <p class="f18">时段销售统计</p>
                    <p class="f14">统计各个时段的销售情况</p>
                    <div class="iconWrap"><img src="/website/images/static/application/index/data02.png" alt="" /></div>
                </a>
            </li>
            <li class="col-xs-6 col-md-4">
                <a href="/website/application/view/store_traffic.html">
                    <p class="f18">门店客流量统计</p>
                    <p class="f14">应用于实体门店的移动互联网客流统计设备，采集24小时的客流量数据</p>
                    <div class="iconWrap"><img src="/website/images/static/application/index/manage01.png" alt="" /></div>
                </a>
            </li>
        </ol>
    </div>
</div>

@import "../../../../model/widgets/bottomBar.html";
@import "../../include/footer.inc";
<script type="text/javascript">
    $(function () {

    });

</script>
</body>
</html>